:root {
    /* modular scale https://every-layout.dev/rudiments/modular-scale/ */
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
}

/* default style */
*, *::before, *::after {
    max-width: 60ch;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: var(--s0);
}

html, body, div, section, header, nav, main, footer {
    max-width: none;
}

img {
    max-width: 100%;
}

button {
    padding: var(--s-5) var(--s-3);
}
