@tailwind base;
@tailwind components;
@tailwind utilities;

.graph-sheet-background {
    /* refs. https://web-dev.tech/front-end/css/graph-paper-background/ */
    background-image:
        linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
        linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-size: 16px 16px;
    background-repeat: repeat;
    background-position: center center;

    padding: 20px;
}